<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random Word Generator</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'rwg/css/style.css' %}">
  </head>
  <body>
    <div id="container">
      <h2>Try #: {{ request.session.attempt }}</h2>
      <div id="random_word">
        <h1>{{ request.session.word }}</h1>
      </div>
      <form action="/create" method="post">
        {% csrf_token %}
        <input type="submit" value="GENERATE">
      </form>
      <form action="/reset" method="post">
        {% csrf_token %}
        <input type="submit" value="RESET">
      </form>
    </div>
  </body>
</html>
