
*{
    /*margin: 0px;
    padding: 0px;*/
}

.wrapper{
    width: 930px;
    background-color: whitesmoke;
    margin: 0px auto;
    padding: 10px 30px 25px 10px;
}

.header_p {
    margin-top: 5px;
    padding-top: 10px;
}

.header{
    border-radius: 25px;
    height: 80px;
    width: 920px;
    background-color: silver;
    padding-top: 10px 15px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight:bold;
}

.navigation ul ul {
    padding-left: 20px;
}

.navigation a:link {
  text-decoration: none;
}

.navigation a:visited {
  color: maroon;
}

.nobullet {
    list-style: none;
}

.navigation{
    border-radius: 25px;
    height: 370px;
    width: 225px;
    background-color: silver;
    display: inline-block;
    vertical-align: top;
    /*padding: 15px;*/
    list-style: inside;
}

.main_content{
    border-radius: 25px;
    height: 470px;
    width: 625px;
    background-color: grey;
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
}

.content a {
    /*font-weight: bold;*/
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.content li {
    padding-bottom: 20px;
}

.contacts{
    border-radius: 25px;
    height: 65px;
    width: 905px;
    background-color: silver;
    margin-top: 20px;
    padding: 5px 0px 10px 15px;
}
