* {
  margin: 0px;
  padding: 0px;
  font-family: verdana;
}

#container {
  width: 970px;
  margin: 0px auto;
  /*display: inline-block;*/
}

#logo {
  display: inline-block;
}

.header_background {
  background-color: maroon;
}

#header {
  background-color: maroon;
  color: white;
  width: 450px;
  height: 74px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
    #header p {
        padding: 5px;
    }

    #header a{
      color: orange;
    }

    #header form {
      padding-left: 120px;
    }

#topnav {
  background-color: #DCDCDC;
  padding: 7px 0px;
  border-bottom: 1px solid grey;
}
    #topnav ul {
        margin-left: 20px;
    }
        #topnav ul li {
          display: inline;
          font-weight: bold;
        }
            #topnav ul li:after{
              content: "|";
              padding: 5px;
            }

            #topnav ul li:last-child:after{
              content: none;
            }

    #topnav a{
      color: #696969;
      text-decoration: none;
    }

#sidenav, #content {
  display: inline-block;
  vertical-align: top;
}

#sidenav {
  background-color: #DCDCDC;
  width: 150px;
  border: 1px solid grey;
  padding: 20px;
  margin: 20px 15px 10px 20px;
}

    #sidenav a{
      color: darkred;
    }

    #sidenav ul {
        margin-left: 10px;
    }

    #sidenav ul li {
      padding: 5px 0px;
    }

#content {
  margin: 20px 0px;
  width: 650px;
}
    #content a, #content h2, #content h3, #content h4 {
      color: darkred;
    }

    #content h3 {
      padding: 20px 0px;
    }

    #content h4 {
      padding: 15px 0px;
    }
    #content ul, #content ol {
        margin-left: 50px;
    }
    #content p, #content :nth-child(10){
        padding-bottom: 20px;
    }

#bold {
  font-weight: bold;
}
