<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style>
      .errors {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Student Survey!!</h1>
    {{ students }}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="errors">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form class="survey" action="/students" method="post">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" value="">
      <p></p>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" value="">
      <p></p>
      <label for="birth_date">Date Of Birth:</label>
      <input type="date" name="birth_date" value="">
      <p></p>
      <label for="password">Password:</label>
      <input type="password" name="password" value="">
      <p></p>
      <label for="confirm_password">Confirm Password:</label>
      <input type="password" name="confirm_password" value="">
      <p></p>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
